<div class="card m-3">
    <h5 class="card-header">Formulario Cliente</h5>
    <div class="card-body">
        <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
            <div class="form-row">
                <div class="form-group col-5">
                    <label>Nombres</label>
                    <input type="text" class="form-control" formControlName="nombres" [ngClass]="{ 'is-invalid': submitted && f.nombres.errors }"/>
                    <div *ngIf="submitted && f.nombres.errors" class="invalid-feedback">
                        <div *ngIf="f.nombres.errors.required">El campo nombres es requerido</div>
                    </div>
                </div>

                <div class="form-group col-5">
                    <label>Apellidos</label>
                    <input type="text" class="form-control" formControlName="apellidos" [ngClass]="{ 'is-invalid': submitted && f.apellidos.errors }"/>
                    <div *ngIf="submitted && f.apellidos.errors" class="invalid-feedback">
                        <div *ngIf="f.apellidos.errors.required">El campo apellidos es requerido</div>
                    </div>
                </div>
                <div class="form-group col-2">
                    <label>Se enteró:</label>
                    <select class="form-control" formControlName="entero" [ngClass]="{ 'is-invalid': submitted && f.entero.errors }">
                        <option value=""></option>
                        <option value="Página Web">Página Web</option>
                        <option value="Llamada Telefónica">Llamada Telefónica</option>
                        <option value="Visita a tienda">Visita a tienda</option>
                    </select>
                    <div *ngIf="submitted && f.entero.errors" class="invalid-feedback">
                        <div *ngIf="f.entero.errors.required">Este campo es requerido</div>
                    </div>
                </div>
                </div>

                <div class="form-group">
                    <label>E-mail</label>
                    <input type="text" formControlName="correo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.correo.errors }" />
                    <div *ngIf="submitted && f.correo.errors" class="invalid-feedback">
                        <div *ngIf="f.correo.errors.required">El e-mail es requerido</div>
                        <div *ngIf="f.correo.errors.email">El formato de correo no es valido</div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col">
                        <label>Contraseña</label>
                        <input type="password" formControlName="pass" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.pass.errors }" />
                        <div *ngIf="submitted && f.pass.errors" class="invalid-feedback">
                            <div *ngIf="f.pass.errors.required">La contraseña es requerida</div>
                            <div *ngIf="f.pass.errors.minlength">La contraseña debe de tener 6 ó más caracteres</div>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label>Confirmar contraseña</label>
                        <input type="password" formControlName="confirmPass" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPass.errors }" />
                        <div *ngIf="submitted && f.confirmPass.errors" class="invalid-feedback">
                            <div *ngIf="f.confirmPass.errors.required">Debe de confirmar su contraseña</div>
                            <div *ngIf="f.confirmPass.errors.validarPass">No coinciden las contraseñas</div>
                        </div>
                    </div>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary" type="submit" > Registrar</button>  
                    <button class="btn btn-danger" 
                    type="reset" (click)="onReset()">Cancelar</button>
                </div>
        </form>
    </div>
</div>

<pre> {{ clienteForm.value | json }} </pre>
<p> {{ clienteForm.valid }} </p>